# Ignore tfvars by default to prevent accidental secret commits
**.tfvars
# Allow non-sensitive environment tfvars
!terraform/environments/dev/terraform.tfvars
!terraform/environments/prod/terraform.tfvars
**/.terraform*
*.tfstate*
